node_modules
npm-debug.log
.env
.env.*
.git
.gitignore
.dockerignore
Dockerfile
Dockerfile_bu
docker-compose.yml
.prettierrc
dist
public/audio
infra
azure.yaml
.azure
README.md
ATTRIBUTION.md
LICENSE
